.dart_tool/
.packages
.pub/
build/
coverage/
*.iml
.idea/
.vscode/
.env
.env.*
!.env.example
android/key.properties
android/local.properties
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
